
@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>@ViewData["greeting"]</h2>
    <div>@ViewData["date"]</div>
    <div>@ViewData["daysleft"]</div>
    <div class="link">

        <!---@Html.ActionLink("Go to Page 2...", "Items/10")--->
        
        <a href = "~/Views/Home/Items.cshtml/10">Go to Page 2...</a>

    </div>
</body>
